@charset "utf-8";

/* =============================================================================
		Reset style
	 ========================================================================== */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent }
body { line-height: 1 }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
nav ul { list-style: none }
blockquote, q { quotes: none }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none }
a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent }
ins { background-color: #ff9; color: #000; text-decoration: none }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold }
del { text-decoration: line-through }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0 }


/* =============================================================================
		Basic style
	 ========================================================================== */

/*
 * body InitialStyle
 */
body { -webkit-text-size-adjust: none; background: #fff; }

/*
 * Wrapper InitialStyle
 */
#wrapper { position: relative; margin: 0 auto; overflow: hidden; background:#fff; }

/*
 * Inner InitialStyle
 */
.inner { width:690px; margin: 0 auto; padding: 0; position:relative; }


/* =============================================================================
	 Image
	 ========================================================================== */

img { vertical-align: bottom; max-width :100%; }

/* Image center */
.img-center { display:block; margin:0 auto; }


/* =============================================================================
	 Common Style
	 ========================================================================== */

table { font-size:inherit;font:100%;}

pre, code, kbd, samp, tt { font-family: monospace; *font-size: 100%; font: 115% monospace; line-height: 150%; }

input,textarea,select { font-family:inherit; font-size:inherit; font-weight:inherit;}

input,textarea,select { *font-size:100%; }

ul, li { list-style: none;}

input[type="text"],input[type="button"],input[type="submit"] { -webkit-appearance: none; border-radius: 0; }

button { background-color:white; border:none; padding: 0; }

/*
 * box-sizing
 */
div,p,dl,dt,dd,ol,ul,li,h1,h2,h3,h4,h5,h6,form,input,button,textarea,table,tr,th,td,article,aside,header,footer,section,nav{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }


/* =============================================================================
	 Typography
	 ========================================================================== */
body { color: #483c3c; letter-spacing: 0px; font-family: "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ Pro W6", "メイリオ", Meiryo, "MS P Gothic", "ＭＳ Ｐゴシック", Osaka, Arial, Helvetica, sans-serif;  }

p { line-height: 1.6; text-align: left;}

dt, dd { line-height: 1.6; }

.noto {font-family: 'Noto Sans JP', sans-serif;}

.minchou { font-family: "ヒラギノ明朝 ProN W6", "HiraMinProN-W6", "HG明朝E", "ＭＳ Ｐ明朝", "MS PMincho", "MS 明朝", serif; }

.yumin { font-family: "游明朝", "Yu Mincho", "游明朝体", "YuMincho", "ヒラギノ明朝 Pro W3", 'Hiragino Mincho Pro', 'MS Mincho','HiraMinProN-W3', serif !important; }

h1,h2,h3,h4,h5,h6 { font-weight:normal; line-height: 1.6; }

a { color: #116c6f; text-decoration:underline; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);　tap-highlight-color: rgba(0, 0, 0, 0); }

.txt-center { text-align:center; }

.l-spacing { letter-spacing:3px; }

.md-spacing { letter-spacing:4px; }

.l-point { position:relative; }

.color-green{color: #349599;}
.color-yellow { color: #f0ff00; }
.color-white { color: #fff; }
.color-red { color: #eb2323; }

.font-bold { font-weight: bold; }
.font-normal { font-weight: normal; }
.underline { text-decoration: underline; }

/* =============================================================================
		Basic style
	 ========================================================================== */

/* Header */
#header { width:100%; }

/* Footer */
#footer { width:100%; }

/* Container */
#container { width: 100%; }


/* =============================================================================
		Others
	 ========================================================================== */

/* Header fix */
.fixed { position:fixed; left:0; top:0; z-index:9999; }

/*
 * clearfix
 */
.clearfix:after { content: ""; display: block; height: 0; clear: both; visibility: hidden; }

/*
 * hover effect
 */
.u-target { transition: opacity .1s; }
.u-target:hover { opacity: .70; filter: alpha(opacity=70); -ms-filter: "alpha(opacity=70)"; }

.conts-left { float:left; }
.conts-right { float:right; }


/*
 * flex box
 */
.flex { display: flex; display: -webkit-flex; }
.f-wrap { flex-wrap: wrap; -ms-flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap; }
.f-between { justify-content: space-between; -webkit-justify-content: space-between; }
.flex-list { display: flex; display: -webkit-flex; flex-wrap: wrap; -ms-flex-wrap: wrap; -moz-flex-wrap: wrap; -webkit-flex-wrap: wrap; justify-content: space-between; -webkit-justify-content: space-between; }


/* =============================================================================
common ttl style	200304 edit
	 ========================================================================== */

.common__ttl-style { 
	position: relative;
	margin: 0 0 2.15rem;
	font-size: 2.2rem; 
	font-weight: bold;
	text-align: center;
	line-height: 1.55;
	letter-spacing: .09em;
}
/*.common__ttl-style:before{ position: absolute; top: -25px; left: 50%; width: 50px; margin-left: -25px; border-bottom: solid #349599 5px; content: "";}*/
.w400{width: 400px;}
.mb30{margin-bottom: 30px;}
.common__item{color:#349599;text-align:center;font-size: 18px;font-weight: bold;letter-spacing: 1.2px;width: 125px;margin: 0 auto;}
.common__item:after{content: url(../img/common_item_03.png);display: block;width: 20px;margin: 10px auto;}